@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Cantata+One');
@import url('https://fonts.googleapis.com/css?family=Rochester');
@import url('https://fonts.googleapis.com/css?family=Belleza');

@font-face {
  font-family: 'Nordic Alternative Regular';
  src:  url('../fonts/Nordic.ttf') format('ttf'),
  url('../fonts/nordic-webfont.woff') format('woff'),
  url('../fonts/nordic-webfont.woff2') format('woff2');
}


*{
  margin: 0;
  padding: 0;
}

body {
  background: url('../img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* font-family: 'Julius Sans One', sans-serif; */
  /* font-family: 'Cantata One', serif; */
  /* font-family: 'Rochester', cursive; */
  
  text-align: center;
  padding-top: 2vh;
  font-size: 2.7vw;
  text-transform: uppercase;
}


header a{
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.header_logo a{
  /* font-family: 'Belleza', sans-serif; */
  font-family: 'Nordic Alternative Regular', sans-serif;
  color: #ffffea;
  opacity: 0.5;
  text-shadow: -2px 0 #585353, 0 2px #585353, 2px 0 #585353, 0 -2px #585353;
}

.header_logo a:hover{
  transition: color 0.3s ease-in;
  color: #fafaf6;
}

.header_nav_bottom_border {
  margin-top: 5px;
  height: 2px;
  min-width: 50vw;
  background-color: #504c4c;
  opacity: 0.5;
  border: 1px solid #e2e1e1;
}

.header_menu{
  /* margin-top: 5px; */
  /* top: 6vh;
  right: 3vh; */
  /* position: absolute; */
  /* min-width: 17vw; */
  padding-bottom: 15px;
}

.menu_list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.menu_item{
  opacity: 0.5;
  padding-right: 1vw;
  font-size: 2.5vh;
  text-shadow: -1px 0 #e7e2e2, 0 1px #e7e2e2, 1px 0 #e7e2e2, 0 -1px #e7e2e2;
}

.menu_item a{
  border-bottom: 3px solid rgba(252, 252, 252, 0);
  font-family: 'Belleza', sans-serif;
  color: #686262;
  padding-bottom: 9vh;
}

.menu_item a:hover{
  color: #f3f3f3;
}

.menu_item:hover{
  transition: all 0.3s ease-in;
  opacity: 0.9;
  /* text-shadow: -1px 0 #ffffff, 0 1px #2b2b2a, 1px 0 #2b2b2a, 0 -1px #2b2b2a; */
}

/* .menu_item:after {
  content: '';
  display: block;
  margin: 1px auto;
  height: 3px;
  width: 0px;
  background: transparent;
  border: 1px solid transparent;
  transition: width 0.7s ease, border-color 1s ease;
}

.menu_item:hover:after {
  width: 100%;
  border-color: #e2e1e1;
} */